body {
	background-image: url('../foto/2022.png');
	background-repeat: no-repeat;
  	background-size: cover;
	background-position: left top;
	background-position-y: 57px;
}
h1 {
	color: #105268 !important;
	font-size: 1rem !important;
}