
.tahoma {
	font-family: "tahoma";
	font-size: 22px;
	font-weight: bold;
}

.vivaldi {
	font-family: "vivaldi";
	font-size: 75px;
	font-weight: bold;
}

.font-pelatihan {
	font-size: 30px !important;
}

.upercase {
	text-transform: uppercase;
}

@page {
	size: auto;
}

.foto {
	border: 1px solid #000000;
	width: 3cm;
	height: 4cm;
}

.ttd-margin {
	margin-right: 250px;
}

.code {
	margin-left: 200px;
}

.qrcode {
	margin-top: -20px;
	padding-top: 0px;
	padding-left: 10px;
	margin-bottom: -20px;
}

.font-code {
	font-size: 15px !important;
	padding-left: 20px;
}